body {
    font-family: Arial, sans-serif;
    background-color: #f6fdfd;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    padding: 7px 0;
    text-align: center;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
    float: left;
    margin:10px auto;
}


footer {
    background-color: #4caf96;
    color: white;
    text-align: center;
    padding: 7px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.container {
    width:100%;
    margin: auto;
    background-color: #ecf7ef;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
    float: right;
    width: 50%;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}